% include("header", title="Login")

<main>
    <h1>Signup</h1>
        <div>
            <label for="first_name">First Name</label>
            <input name="first_name" id="first_name" type="text">
        </div>

        <div>
            <label for="last_name">Last Name</label>
            <input name="last_name" id="last_name" type="text">
        </div>

        <div>
            <label for="user_name">User Name</label>
            <input name="user_name" id="user_name" type="text">
        </div>

        <div>
            <label for="user_email">Email</label>
            <input name="user_email" id="user_email" type="email">
        </div>

        <div>
            <label for="user_phone">Phone</label>
            <input name="user_phone" id="user_phone" type="text">
        </div>
        <button>Signup</button>
    
    
    
        
</main>



% include("footer")