<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    user id = {{user_id}} <br>
    <p>user full name = {{user_first_name}} {{user_last_name}}</p> <br>
    email = {{user_email}} <br>
    password = {{user_password}} <br>
    <p>@{{user_name}}</p>

    <h1>Welcome</h1>
    <h2>@{{user_name}}</h2>
</body>
</html>
